static-syms.h
config.*
Config
*.o
*.a
*.so
debian/files
debian/iproute/
debian/iproute-doc.debhelper.log
debian/iproute-doc/
debian/iproute.debhelper.log
debian/iproute.substvars

doc/api-ip6-flowlabels.aux
doc/api-ip6-flowlabels.dvi
doc/api-ip6-flowlabels.log
doc/api-ip6-flowlabels.ps
doc/api-ip6-flowlabels.toc
doc/arpd.dvi
doc/arpd.html
doc/arpd.ps
doc/arpd.txt
doc/ip-cref.aux
doc/ip-cref.dvi
doc/ip-cref.log
doc/ip-cref.ps
doc/ip-cref.toc
doc/ip-tunnels.aux
doc/ip-tunnels.dvi
doc/ip-tunnels.log
doc/ip-tunnels.ps
doc/ip-tunnels.toc
doc/nstat.dvi
doc/nstat.html
doc/nstat.ps
doc/nstat.txt
doc/rtstat.dvi
doc/rtstat.html
doc/rtstat.ps
doc/rtstat.txt
doc/ss.dvi
doc/ss.html
doc/ss.ps
doc/ss.txt
doc/ss-*.html
patch-stamp
stamp-build
stamp-doc
*~
.*.swp
\#*#

# cscope
cscope.*
ncscope.*
TAGS

# git files that we don't want to ignore even it they are dot-files
!.gitignore
!.mailmap

# for patch generation
*.diff
*.patch
*.orig
*.rej

# for quilt
.pc
patches
series

# for gdb
.gdbinit
.gdb_history
*.gdb

# tests
testsuite/results
testsuite/iproute2/iproute2-this

# doc files generated at runtime
doc/*.aux
doc/*.log
doc/*.toc
doc/*.ps
doc/*.dvi
doc/*.html
doc/*.pdf
