Source: iproute
Section: net
Priority: optional
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Homepage: http://www.linux-foundation.org/en/Net:Iproute2
Vcs-Browser: http://git.debian.org/?p=collab-maint/pkg-iproute.git
Vcs-Git: git://git.debian.org/git/collab-maint/pkg-iproute.git
Standards-Version: 3.9.2
Build-Depends: iptables-dev,
               libatm1-dev,
               libdb-dev,
               linux-libc-dev,
               debhelper (>= 8),
               pkg-config,
               bison,
               flex

Package: iproute
Priority: important
Architecture: any
Provides: arpd
Conflicts: arpd, vyatta-iproute
Replaces: vyatta-iproute
Depends: ${shlibs:Depends}, ${misc:Depends}, libcap2-bin
Recommends: libatm1
Description: networking and traffic control tools
 The iproute suite, also known as iproute2, is a collection of
 utilities for networking and traffic control.
 .
 These tools communicate with the Linux kernel via the (rt)netlink
 interface, providing advanced features not available through the
 legacy net-tools commands 'ifconfig' and 'route'.
