Source: iproute
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Homepage: http://www.linux-foundation.org/en/Net:Iproute2
Standards-Version: 3.7.3
Build-Depends: libatm1-dev, linux-libc-dev, debhelper (>= 5),
 flex, bison,
 libdb-dev,
 iptables-dev (>= 1.4.1)

Package: iproute
Architecture: any
Provides: arpd
Conflicts: arpd, vyatta-iproute
Replaces: vyatta-iproute
Depends: libcap2-bin, ${shlibs:Depends}
Recommends: libatm1
Description: Professional tools to control the networking in Linux kernels
 This is `iproute', the professional set of tools to control the
 networking behavior in kernels 2.2.x and later.
 .
 At least, the options CONFIG_NETLINK and CONFIG_NETLINK_DEV (or
 CONFIG_RTNETLINK) must be compiled into the running kernel.
 .
 This package is also known as iproute2 upstream and in some
 documentation.

