#!/usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use hardening options
export DEB_BUILD_HARDENING=1


%:
	dh $@

override_dh_clean:
	dh_clean
	make distclean
	-rm -f doc/*.txt

override_dh_installexamples:
	dh_installexamples -p iproute-doc examples/*

override_dh_shlibdeps:
	dh_shlibdeps -a -Xq_atm.so -Xm_xt.so -Xm_ipt.so
	dh_shlibdeps -a -- -pipmods -dRecommends -e debian/iproute2/usr/lib/tc/m_xt.so -e debian/iproute2/usr/lib/tc/q_atm.so -xlibc6


override_dh_auto_build:
	# $(MAKE) -C doc all txt
	$(MAKE) KERNEL_INCLUDE=./include

override_dh_gencontrol:
	if [ -f "../.VYOS_DEV_BUILD" ]; then \
		dh_gencontrol -- -v999.dev; \
	else \
		dh_gencontrol -piproute -- -v1:$(DEB_VERSION); \
		dh_gencontrol --remaining-packages; \
	fi
